.p6o-magic-button {
  font-family:Roboto;
  position:absolute;
  left:20px;
  bottom:20px;
  background-color:#f4f4f4;
  padding:8px;
  border-radius:50%;
  border:1px solid rgba(0,0,0,0.2);
  box-shadow:inset 2px 4px 18px #fff, inset -2px -3px 4px rgba(0,0,0,0.15), 0 0 12px rgba(0,0,0,0.14);
  z-index:99;
  transition:all 0.3s;
  cursor:pointer;

  img {
    display:block;
    width:50px;
    height:50px;
  }

}

.p6o-magic-button:hover {
  background-color:#fff;
  box-shadow:inset 2px 4px 18px #fff, inset -2px -3px 4px rgba(0,0,0,0.15), 0 0 12px rgba(255,255,255,0.2);
}
