@import './Theme.scss';

.p6o-tei-panel {
  position:absolute;
  top:20px;
  left:calc(100% - 560px);

  .p6o-tei-panel-inner {
    height:100%;
    box-shadow:1px 1px 18px rgba(0, 0, 0, 0.25);
    border-radius:3px;
    background-color:#fff;
    border:1px solid #d6d7d9;
    display:flex;
    flex-direction:column;

    header {
      display:flex;
      flex-direction:row;
      align-items:baseline;
      justify-content:space-between;
      border-bottom:1px solid rgba(0, 0, 0, 0.1);
      padding:15px;

      h1 {
        font-size:18px;
        margin:0;
        padding:0;
      }

      label {
        display:flex;
        flex-direction:row;
        align-items:center;
        font-size:14px;
        
        .toggle {
          margin:0 8px;

          .react-switch-bg {
            color:rgba(255, 255, 255, 0.8);
            font-size:18px;

            div:first-child {
              svg {
                padding:2px 4px;
              }
            }

            div:last-child {
              svg {
                padding:2px 0 2px 7px;
              }
            }
          }
        }
      }
    
    }

    main {
      flex:1;
      overflow-y:scroll;
      overflow-x:hidden;
      white-space:normal !important;
      line-height:170%;
      padding:10px 20px;
      position:relative;
      z-index:1;
      font-size:17px;
      background-color:#ecf0f1;
      border-bottom:1px solid rgba(0, 0, 0, 0.1);

      .selected {
        background-color:rgb(187, 136, 70) !important;
        color:#fff !important;
      }

      .selected.primary {
        background-color:red !important;
      }
    }
  }

  .react-resizable-handle {
    display:block;
    position: absolute;
    width:30px;
    height:30px;
    bottom:0;
    right:0;
    cursor:se-resize;
  }

}
