html, body {
  padding:0;
  margin:0;
  min-height:100%;
}

.container {
  width:100vw;
  height:100vh;
  position:relative;
}

.container .row {
  display:flex;
  flex-direction:row;
  height:100%;
}

.container .row > * {
  flex:1;
}

.p6o-teiview {
  overflow-y:scroll;
  flex-basis:0.3;
}

.p6o-infopanel {
  position:absolute;
  top:10px;
  left:10px;
  background-color:#fff;
  padding:10px;
  max-width:45%;
}

.p6o-infopanel .p6o-tag {
  background-color:grey;
  border-radius:4px;
  padding:2px 6px;
  color:#fff;
  display:inline-block;
  margin:0 3px 3px 0;
}

.show-everything {
  position:absolute;
  top:10px;
  left:10px;
  padding:10px;
  background-color:#fff;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
